@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}


  .title{
  @apply font-bold text-[30.1343px] leading-[45px] text-black;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */

  

/* Custom Scrollbar Style */
.custom-scroll::-webkit-scrollbar {
  width: 6px; /* scrollbar width */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* track color */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* thumb color (gray-400) */
  border-radius: 9999px; /* fully rounded */
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* darker on hover (gray-500) */
}
